<div class="d-flex align-items-center bg-white full-height">
  <div class="container"> 
    <h2 class="display-2 text-center">Listagem</h2>
    <% @movies.each do |movie| %>
      <div class="row justify-content-center mt-2">
        <p class="text-center"><%= link_to "#{movie.name}", movie %></p>
      </div>
    <% end %>
  </div>
</div>
<div class="pagination">
  <%= paginate @movies %>
</div>