<div class="row d-flex align-items-center bg-white full-height">
  <div class="col-6">
    <h2 class="display-2 ms-5">Listagem de diretores</h2>
  </div>
  <div class="container-fluid col-4"> 
    <div class="row">
      <% if @directors.present? %>
        <% @directors.each do |director| %>
          <div class="justify-content-center mt-2">
            <p><%= link_to "#{director.name}", director %></p>
          </div>
        <% end %>
        <div class="pagination">
          <%= paginate @directors %>
        </div>
      <% else %>
        <p>Não existem diretores cadastrados</p>
      <% end %>
    </div>
  </div>
</div>

