@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');

:root {
  --primary-color: rgb(75, 114, 199); 
  --secondary-color: rgb(236, 234, 234);
}

html {
  scroll-behavior: smooth;
}


.full-height {
  height: 100vh;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.heading-form {
  color: rgb(157, 188, 214);
}

.title-section {
  font-size: 6rem;
  font-family: "Poly", serif;
}


.bg-primary-per {
  background-color: var(--primary-color);
  color: rgb(19, 19, 19);
}

.bg-primary-per a {
  color: var(--primary-color);
}

.bg-dark h3 a{
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.bg-dark h3 a:hover{
  color: var(--primary-color);
}


.bg-secondary-per { 
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.bg-secondary-per h3 a { 
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.bg-secondary-per h3 a:hover { 
  color: rgb(7, 16, 151);
  cursor: pointer;
}

.img-box-cover {
  max-width: 10rem;
}
/* .nav-border {
  border-bottom: 1px solid rgb(92, 92, 92);
} */
.img-box-index {
  height: 20rem;
}


.nav-top-fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .img-box {
    display: none;
  }
  .img-box-cover {
    display: none;
  }
}