<div class="d-flex align-items-center bg-secundary-per full-height">
  <div class="container"> 
    <h2 class="display-2 text-center text-white">Edição de Gênero</h2>
    <%= render 'form' %>
  </div>
</div>